---
import Button from "@/components/Button.astro";
---

<a href="/">
  <Button class="text-sm">
    <span class="max-sm:hidden mx-1">torna alla homepage</span>
    <span class="sm:hidden mx-1">homepage</span>
  </Button>
</a>
