<div
  class="max-w-none
    prose prose-sm leading-normal
    prose-p:text-justify
    prose-headings:scroll-m-4
    [&_[data-footnote-ref]]:scroll-m-4
    prose-h2:uppercase prose-h2:relative
    prose-h2:pb-1 prose-h2:border-b prose-h2:border-neutral-400
    prose-a:text-[blue] prose-a:no-underline hover:prose-a:underline
    prose-su
    prose-hr:border-neutral-400
    prose-li:marker:text-neutral-800
    prose-blockquote:border-[blue] prose-blockquote:border-opacity-30 prose-blockquote:[font-style:inherit]"
>
  <slot />
</div>
