<div
  class="max-w-none
    prose prose-sm text-justify leading-normal
    prose-headings:scroll-m-4
    [&_[data-footnote-ref]]:scroll-m-4
    prose-h1:text-center prose-h2:text-center prose-h3:text-center
    prose-h2:uppercase
    prose-a:text-[blue] prose-a:no-underline hover:prose-a:underline
    prose-hr:border-neutral-400
    prose-li:marker:text-neutral-800
    prose-blockquote:border-neutral-400 prose-blockquote:bg-neutral-100
      prose-blockquote:inline-block prose-blockquote:w-full
      prose-blockquote:pr-4"
>
  <slot />
</div>
